{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Restaurant</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'main/signup.css' %}">
</head>
<body>
{% if user.is_owner %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<div class="container-fluid">
		<div class="row">
			<div class=" col-lg-4 col-md-4 col-sm-4">
				<img  class="left" src="{% static 'main/add restaurent.jpeg' %}">
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12"><a href=" "><img class="logo" src="{% static 'main/logo.jpg' %}"></a></div>
					<div class="col-lg-4 col-md-6 col-sm-12"><h1>POST A DISH</h1></div>
					<div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-end p-5 profile"><a href="/owner_profile"><img class="edit" src="{% static 'main/Edit_Profile.png'%}"> PROFILE </a></div>
				</div>
				
                <form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
				
                {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="Pz00GObSvTN9efaQajexFDmg0q2mrp4XEfJk35Qi7Z0ugDWVepjpyRT75Rxgz0Ji"> {% endcomment %}
                <div class="row">
					<div class="col-12 d-flex justify-content-center">
						<input class="btn btn-outline-dark btn-lg" type="submit" value="submit">
					</div>
				</div>
				
                </form>
				<div class="row">
					<div class="col-12">
						<p>Thank you for registering your self</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% elif user.is_customer %}
	<h1>You can't access this page</h1>
	{% endif %}
</body>
</html>

