{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Owner Info</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/Owner_info.css' %}">
	<link rel="shortcut icon" type="image/png" href="../Img/He.png">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- HEADER -->
	<div class="container-fluid">
		<div class="row ">
			<div class="col-lg-4 col-md-6 col-sm-6"><img class="logo" src="{% static 'main/logo.jpg' %}"></div>
			<div class="col-lg-4 col-md-6 col-sm-6 d-flex justify-content-center"><h1>Restaurant Profile</h1></div>
			<div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-end p-3">
				<div class="p-3"><a href="/add_restaurant"><img class="add" src="{% static 'main/Add.png' %}"><p>ADD</p></a></div>
				<div class="p-3"><a href="/owner_edit"><img class="add" src="{% static 'main/Edit_Profile.png' %}"><p>EDIT PROFILE</p></a></div>
			</div>
		</div>
			<div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center"><img class="left" src= "/media/{{user.image}}"></div>
			<div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center p-3"><h1>{{user}}</h1></div>
			<div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center p-4"><h2>{{user.Location}}</h2></div>
			<div class="col-12 p-2 d-flex justify-content-center"><h3>There is no sincier love then love for food</h3></div>
	</div>
	<!-- MAIN LIST -->
	<div class="container-fluid pt-3">
		<div class="row d-flex justify-content-center">
		{% for obj in d %}
			<div class="col-sm-12 col-md-12 col-lg-8 d-flex justify-content-center">
			<div class="col-12 d-flex justify-content-center shadow p-3 mb-5 bg-white rounded bod">
			<img src="/media/{{obj.image}}">
				<ul>
					<li><h2>{{obj.dish_name}}</h2></li>
					<li><p>{{obj.description}}</p></li>
				</ul>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<h1>{{obj.price}}</h1>
				<form method = "post" action ="{% url 'main:delete_rest' obj.id %}">
				<button type="submit" class="btn btn-danger btn-sm">-DELETE</button>
				{% csrf_token %}
				</form>
				{% comment %} <button><a href = "/edit_dish">EDIT</a></button> {% endcomment %}
				<form method = "post" action ="{% url 'main:edit_dish' obj.id %}">
				<button type="submit">EDIT</button>
				{% csrf_token %} 
				</form> 
			</div>
			</div>
			</div>
        {% endfor %}
		</div>
	</div>
</body>
</html>