{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Owner Info</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/Owner_info.css' %}">
	<link rel="shortcut icon" type="image/png" href="../Img/He.png">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- HEADER -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12"><img class="left" src= "/media/{{user.image}}"></div>
			<div class="col-lg-8 col-md-8 col-sm-12">
				<div class="row">
					<div class="col-4"><img class="logo" src="{% static 'main/logo.jpg' %}"></div>
					<div class="col-4"><h1>Restaurent Info</h1></div>
					<div class="col-4 d-flex justify-content-center"><a href="/add_restaurant"><img class="add" src="main/Add.png"><p>ADD A DISH</p></a></div>
                    <div class="col-4 d-flex justify-content-center"><a href="/profile"><img class="add" src="main/Add.png"><p>PROFILE</p></a></div>
					<div class="col-12 p-5"><h1>{{user}}</h1></div>
					<div class="col-12 pl-5"><h2>{{user.address}}</h2></div>
					<div class="col-12 d-flex justify-content-center"></div>
					<div class="col-12 p-5"><h5>There is no sincier love then love for food</h5></div>
					<div class="col-12 p-5"><h3>Scroll down to see the list of items you added</h3></div>
				</div>
			</div>
		</div>
	</div>
	<!-- MAIN LIST -->
	<div class="container-fluid">
		<div class="row p-5">
			<div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
            {% for obj in d %}
			<div class="col-lg-8 col-md-8 col-sm-12 d-flex justify-content-center shadow p-3 mb-5 bg-white rounded bod">
			<div class="col-lg-4 col-md-4 col-sm-12 d-flex justify-content-end"><img src="/media/{{obj.image}}"></div>
			<div class="col-lg-4 col-md-4 col-sm-12 align-item-center">
				<ul>
					<h2>{{obj.dish_name}}</h2>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12"><h1>{{obj.price}}</h1></div>
			</div>
            
			</div>
            {% endfor %}
		</div>
	</div>
</body>
</html>