{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Order Now</title>
	<link rel="stylesheet" type="text/css" href="{% static 'main/cart.css' %}">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<div class="container-fluid">
		<div class="row header">
			<div class="col-lg-4 col-md-12 col-sm-12">
				<a href="/"><img src="{% static 'main/logo.jpg' %}"></a>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 d-flex">
				<h3>Hungry!!</h3>
				<h1>ORDER NOW</h1>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-end pt-2">
				<a href="/owner_edit"><img class="pro" src="{% static 'main/Edit_Profile.png' %}" ><p>PROFILE</p></a>
				<div class="size"><button class="btn btn-outline-dark btn-lg"><a href = "/">LOGOUT</a></button></div>
			</div>
			<div class="col-12 d-flex justify-content-center">
			<form method='GET' action=''>
				<div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
				<input class="search form-control input-md" type = 'text' name='q' placeholder = 'Search restaurants' value='{{request.GET.q}}'/> 
				<input class="btn btn-outline-dark btn-lg" type ='submit' value='Search'>
				</div>
			</form>
			</div>
		</div><hr>		
	</div>
	<div class="container-fluid pt-3">
            {% for r in obj %}
			<div class="row d-flex justify-content-center">
			<div class="col-sm-12 col-md-12 col-lg-8 d-flex justify-content-center">
			<div class="col-12 d-flex shadow p-3 mb-5 bg-white rounded bod">
			<img class="body" src="/media/{{r.image}}">
				<ul>
					{% comment %} <li><h1><a href={% url 'main:customer' obj.id %} {% endcomment %}
					<li><h2><a href="{{r.id}}">{{ r }}</a></h2></li>
				</ul>
			</div>
			</div>
			</div>
            {% endfor %}
	</div>
</body>
</html>