{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'main/signup.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Sign-Up page</title>
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-sm-12">
				<img class="left" src="{% static 'main/food2.jpeg' %}">
			</div>
			<div class="col-lg-8 col-sm-12">
				<div class="row">
					<a href="../index.html"><div class="col-4"><img class="logo" src="{% static 'main/logo.jpg' %}"></div></a>
					<div class="col-8 d-flex justify-content-center"><h1>Sign-Up</h1></div>
				</div>
				
				<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="VahwkPXZyYT28rxEh8g4dHXLoMxInEaF6P9lSaMGrQWPMHekd7InbyOvk6T1XKyi"> {% endcomment %}
				<div>
				<p><label for="id_username">Username:</label> 
				<input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"> <span class="helptext"></span></p>
				</div>
				<div>
				<p><label for="id_first_name">First name:</label> 
				<input type="text" name="first_name" maxlength="30" id="id_first_name"> <span class="helptext"> </span></p>
				</div>
				<div>
				<p><label for="id_last_name">Last name:</label> 
				<input type="text" name="last_name" maxlength="30" id="id_last_name"> <span class="helptext"></span></p>
				</div>
				<div>
				<label for="id_email">Email:</label> 
				<input type="email" name="email" maxlength="254" required="" id="id_email"> <span class="helptext"></span></p>
				</div>
				<div>
				<p><label for="id_password1">Password:</label>  
				<input type="password" name="password1" required="" id="id_password1"> <span class="helptext"></span></p>
				</div>
				<p><label for="id_password2">Password confirmation:</label> 
				<input type="password" name="password2" required="" id="id_password2"> <span class="helptext"></span></p>
				<div>
				<p><label for="id_is_owner">Is owner:</label> 
				<input type="checkbox" name="is_owner" required="" id="id_is_owner"></p>
				</div>
				<div>
				<p><label for="id_image">Image:</label> 
				<input type="file" name="image" accept="image/*" required="" id="id_image"></p>
				</div>
				<div>
				<p><label for="id_location">Location:</label> 
				<input type="text" name="location" maxlength="100" required="" id="id_location"></p>
    			</div>
    			<input type="submit" value="Save">
				</form>
    			
				
			</div>
		</div>
	</div>
</body>