.container-fluid{
	margin: 0px;
	padding: 0px;
}
.left img{
	display: block;
}
.logo img{
	height: 100px;
}

.form-control{
	width: 500px;
}
@media only screen and (max-width: 576px){
	.left img{
		display: none;
	}
	.form-control{
		width: 350px;
	}
}
@media only screen and (max-width: 992px){
	.left{
		display: none;
	}
}