 .header img{
	height: 100px;
	padding: 10px;
}
.header h3, h1{
	padding: 10px;
}
.bod img{
    height: 228px;
	width : 152px;
	border-radius: 20px;
}
ul{
	list-style: none;
}
.font{
	font-size:32px;
}