  
.header img{
	height: 100px;
	padding: 10px;
}
.header h3, h1{
	padding: 10px;
}
.bod img{
    height: 228px;
	width : 152px;
	padding-top: 20px;
}
ul{
	list-style: none;
}
ul h2{
	margin-left: 12px;
}