body{
	overflow-x: hidden;
}
.container-fluid{
	padding: 0px;
	margin: 0px;
}
.left{
	height: 790px;
	width: 500px;
}
.logo{
	height: 100px;
}
.add{
	height: 70px;
}
.bod img{
	height: 250px;
	width: 200
	px;
	border-radius: 20px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: black;
}
