body{
	overflow-x: hidden;
}
.container-fluid{
	margin: 0px;
	padding: 0px; 
}

.logo{
	height: 100px;
}
.edit{
	height: 70px;
}
.left{
	height: 90%;
	display: block;
}
.input input{
	width: 350px;
}
.box input{
	height: 20px;
	width: 20px;
}
@media only screen and (min-width: 575px){
	.left{
		height: 100%;
		width: 100%;
	}
	.input input{
		width: 90%;
	}
}
@media only screen and (max-width: 575px){
	.left{
		display: none;
	}
	.input input{
		width: 90%;
	}
}