body{
	overflow: hidden;
}
.container-fluid{
	margin: 0px;
	padding: 0px;
}
.logo img{
	height: 100px;
}
.container-fluid h1{
	letter-spacing: 5px;
	font-size: 22px;
}
.container-fluid h3{
	font-weight: 2;
}
.container-fluid a{
	padding: 20px;
	font-size: 20px;
	text-decoration: none;
}
.banner img{
	height: 770px;
	width: auto;
}