.container-fluid{
	margin: 0px;
	padding: 0px;
}
.logo{
	height: 100px;
}
.main{
	width: 1000px;
	background-color: black;
	color: white;
	text-align: justify;
}
.bod{
	background-color: black;
	color: white;
}
.bod img{
	height: 350px;
}
hr.white{
	border-top: 1px solid white;
}
hr.white-2{
	border-top: 1px solid white;
	width: 250px;
}
@include media-breakpoint-up(sm) {
  .logo {
    display: block;
  }
}