body{
	overflow: hidden;
}
.container-fluid .logo{
	height: 100px;
}
.container-fluid .background{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	border-radius: 200px;
}
.container-fluid h1{
	text-align: center;
	position: relative;
	top: -600px;
}
.container-fluid h2{
	position: relative;
	top: -500px;
	padding: 30px;
	left: 400px;
}
.container-fluid input{
	position: relative;
	top: -575px;
	left: 570px;
	height: 30px;
	width: 250px;
	border-radius: 25px;
}
.container-fluid button{
	position: relative;
	top: -500px;
	left: 500px;
	width: 100px;
	height: 30px;
	border-radius: 25px;
}
.container-fluid p{
	position: relative;
	top: -500px;
	left: 450px;
	font-size: 22px;
	font-weight: 30px;
}
.container-fluid p a{
	text-decoration: none;
}