body{
	overflow: hidden;
}
.container-fluid{
	margin: 0px;
	padding: 0px; 
}
.logo{
	height: 100px;
}
.main{
	height: 900px;
	width: 600px;
	background-image: url("../Img/coffe1.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 900px 600px;
}
h1{
	padding: 50px;
}
h2, input{
	padding-top: 20px;
	padding-right: 150px;
	padding-bottom: 20px;
}
input{
	margin-top: 20px;
	height: 30px;
}
p{
	padding: 0px 150px 20px 0px;
	font-size: 18px;
}
