<!DOCTYPE html>
<html>
<head>
	<title>Sign up page</title>
	<link rel="stylesheet" type="text/css" href="login/accounts/static/accounts/signup.css">
</head>
<body>
	<!-- <script type="text/javascript" src="../js_file/signup.js"></script> -->
	<div class="loginback">
		<img src="C:\Users\hp\Desktop\zomato\login\pics\Img\coffe1.jpg">
	</div>
	<div class="loginlogo">
		<img src="C:\Users\hp\Desktop\zomato\login\pics\Img\logo.jpg">
	</div>
		<h1>Login</h1>
	<div class="login_show" id="change">
		<h2>User name</h2>
		<input class="inp" type="text" placeholder="User name">
		<h2>Password</h2>
		<input class="inp" type="text" placeholder="Password...">
	<a href="../index.html">
		<button class="btn">SUBMIT</button>
	</a>
	</div>
	<h3>Sign Up</h3>
	<div class="sign_up_show" id="change1">
		<div class="transparent"></div>
		<h2>User Name</h2>
		<input class ="inp" type="text" placeholder="User Name...">
		<h2>Create Password</h2>
		<input class="inp" type="text" placeholder="Password...">
		<h2>Email</h2>
		<input class="inp" type="text" placeholder="Email...">
	<a href="../index.html">
		<button class="btn">SUBMIT</button>
	</div>	

</body>
</html> 